<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">
      <i
        [style.display]="display_icon"
        class="far fa-address-card"
        style="font-size: 40px; color: white"
      ></i>

      {{ massage | uppercase }}
    </h5>
    <button
      [style.display]="buttonDisplay"
      (click)="gettingStarted()"
      class="btn btn-dark btnc"
    >
    {{ this.lan.words.getting }}
    </button>
  </div>
</div>

<table *ngIf="!checkGetStart" class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col" colspan="3">{{this.lan.words.tb_head}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let list of this.lan.words.tb_column">
      <td colspan="3">
        {{ list }}
      </td>
    </tr>
  </tbody>
</table>

<form [dir]="this.lan.words.dir" *ngIf="checkGetStart" [formGroup]="Login" (ngSubmit)="SubmitData()">
  <div class="mb-3 mt-3">
    <label for="email" class="form-label">{{this.lan.words.email}}</label>
    <span *ngIf="email?.invalid && email?.touched && email?.dirty">
      * Invalid Email</span
    >
    <input
      type="email"
      class="form-control"
      id="email"
      placeholder="Your email"
      formControlName="email"
    />
  </div>
  <div class="mb-3">
    <label for="pwd" class="form-label">{{this.lan.words.pass}}</label>
    <span *ngIf="password?.invalid && password?.touched && password?.dirty">
      * Invalid Password</span
    >
    <input
      type="password"
      class="form-control"
      id="pwd"
      placeholder="Your password"
      formControlName="password"
    />
  </div>
  <div class="form-check mb-3">
    <label class="form-check-label acc">
      <label
        >{{this.lan.words.acc}}
        <a
          class="reg"
          routerLink="/user-new"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >{{this.lan.words.acc_click}}</a
        >
      </label>
    </label>
  </div>
  <button [disabled]="Login.invalid" type="submit" class="btn btn-dark">
    {{this.lan.words.submit}}
  </button>
  <span *ngIf="validCheck"> * Invalid Email or Password</span>
</form>
