<form [formGroup]="createUser" disabled>
  <div class="form-group">
    <label for="fname"
      >First Name
      <input
        readonly
        id="fname"
        type="text"
        class="form-control-plaintext"
        formControlName="fname"
    /></label>
    <label for="lname"
      >Last Name
      <input
        readonly
        id="lname"
        type="text"
        class="form-control-plaintext"
        formControlName="lname"
    /></label>
  </div>
  <div class="form-group">
    <label for="sesa"
      >SESA Number
      <input
        readonly
        id="sesa"
        type="number"
        class="form-control-plaintext"
        formControlName="sesa"
    /></label>
    <label for="Email"
      >Email
      <input
        readonly
        id="Email"
        type="email"
        class="form-control-plaintext"
        formControlName="email"
    /></label>
  </div>
  <div class="form-group">
    <label for="Report"
      >Report To
      <input
        readonly
        id="Report"
        type="text"
        class="form-control-plaintext"
        formControlName="reportto"
    /></label>
    <label for="Department"
      >Department
      <input
        readonly
        id="Department"
        type="email"
        class="form-control-plaintext"
        formControlName="department"
    /></label>
  </div>
</form>
