<!-- <br>
<button (click)="postHttpData()">Post Http Data</button>
<button (click)="getHttpData()">Get Http Data</button>
<button (click)="putHttpData()">Put Http Data</button>
<button (click)="deleteHttpData()">Delete Http Data</button> -->

<form [formGroup]="createUser" disabled>
  <div class="form-group">
    <label for="fname"
      >{{ this.lan.words.fname }}
      <input
        readonly
        id="fname"
        type="text"
        class="form-control-plaintext"
        formControlName="fname"
    /></label>
    <label for="lname"
      >{{ this.lan.words.lname }}
      <input
        readonly
        id="lname"
        type="text"
        class="form-control-plaintext"
        formControlName="lname"
    /></label>
  </div>
  <div class="form-group">
    <label for="sesa"
      >{{ this.lan.words.sesa }}
      <input
        readonly
        id="sesa"
        type="number"
        class="form-control-plaintext"
        formControlName="sesa"
    /></label>
    <label for="Email"
      >{{ this.lan.words.email }}
      <input
        readonly
        id="Email"
        type="email"
        class="form-control-plaintext"
        formControlName="email"
    /></label>
  </div>
  <div class="form-group">
    <label for="Report"
      >{{ this.lan.words.report }}
      <input
        readonly
        id="Report"
        type="text"
        class="form-control-plaintext"
        formControlName="reportto"
    /></label>
    <label for="Department"
      >{{ this.lan.words.dep }}
      <input
        readonly
        id="Department"
        type="email"
        class="form-control-plaintext"
        formControlName="department"
    /></label>
  </div>
</form>
