<nav class="navbar navbar-expand-sm navbar-dark fixed-top">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/user-login">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/vacation-new">Request Vacation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/vacation-info">View Vacation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user-new">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user-info">View Profile</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
